<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="2.5.0" targetFramework="net48" />
  <package id="Angular.UI.Sortable" version="0.2.0" targetFramework="net45" />
  <package id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net48" />
  <package id="angular-busy" version="4.1.4" targetFramework="net48" />
  <package id="angularjs" version="1.8.2" targetFramework="net48" />
  <package id="AngularJS.Core" version="1.8.2" targetFramework="net48" />
  <package id="AngularJS-Toaster" version="3.0.0" targetFramework="net48" />
  <package id="angular-strap" version="2.3.1" targetFramework="net452" />
  <package id="angular-ui-grid" version="4.11.1" targetFramework="net48" />
  <package id="bootstrap" version="3.4.1" targetFramework="net45" />
  <package id="jQuery" version="3.5.0" targetFramework="net48" />
  <package id="materialize" version="0.97.6" targetFramework="net48" />
  <package id="ng-grid" version="2.0.12" targetFramework="net452" />
  <package id="RequireJS" version="2.3.6" targetFramework="net48" />
  <package id="uigrid_angularjs" version="4.6.0" targetFramework="net48" />
</packages>