<style>
    .panel-body {
        overflow: auto;
        height: calc(100vh - 240px);
    }

    .table-responsive {
        max-height: calc(100vh - 294px);
    }


    @media print {

        body * {
            visibility: hidden;
        }

        #print-content * {
            overflow: visible;
            visibility: visible;
        }

        #mainPage * {
            display: none;
        }

        .modal,
        .modal * {
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
        }

        .modal {
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            min-height: 550px;
            position: absolute !important;
            visibility: visible !important;
        }

        .modal-dialog {
            /**Remove scrollbar for printing.**/
            overflow: visible !important;
            visibility: visible !important;
        }

        .modal-backdrop {
            background-color: white;
            opacity: 1 !important;
        }

        li {
            page-break-after: auto;
        }

        div {
            page-break-inside: avoid;
        }
    }
</style>

<div class="row" id="mainPage">

    <div class="col-sm-12" >


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 ng-if="pageName == 'services'" class="panel-title">Services & Active Payment Detail</h3>
                        <h3 ng-if="pageName == 'medical'" class="panel-title">Medical Conditions</h3>
                        <h3 ng-if="pageName == 'payment'" class="panel-title">Manage Payment</h3>
                        <h3 ng-if="pageName == 'history'" class="panel-title">History</h3>
                        <h3 ng-if="pageName == 'patient'" class="panel-title">Patient Info</h3>

                    </div>
                    <div class="col-sm-6 text-right">
                        <button ng-click="pageName = 'services'" ng-class="{'btn-info' : pageName == 'services'}" class="btn btn-default" data-toggle="tooltip" data-placement="left">Services</button>
                        &nbsp;
                        <button ng-click="pageName = 'medical'" ng-class="{'btn-info' : pageName == 'medical'}" class="btn btn-default" data-toggle="tooltip" data-placement="left">Medical Condition</button>
                        &nbsp;
                        <button ng-click="pageName = 'payment'" ng-class="{'btn-info' : pageName == 'payment'}" class="btn btn-default" data-toggle="tooltip" data-placement="left">Payment</button>
                        &nbsp;
                        <button ng-click="pageName = 'history'" ng-class="{'btn-info' : pageName == 'history'}" class="btn btn-default" data-toggle="tooltip" data-placement="left">History</button>
                        &nbsp;
                        <button ng-click="pageName = 'patient'" ng-class="{'btn-info' : pageName == 'patient'}" class="btn btn-default" data-toggle="tooltip" data-placement="left">Patient</button>
                        &nbsp;
                        <button ui-sref="root.patient" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Back"><span class="glyphicon glyphicon-repeat"></span></button>
                    </div>
                </div>
            </div>

            <div class="panel-body" ng-if="pageName == 'services'">
                <h4>
                    Pateint Taken Services:
                    <span class="pull-right" style="font-size: 12px">
                        <span>Bill Created: {{patientPrescription.Created | date:"MM/dd/yyyy 'at' h:mma"}}</span> &nbsp;&nbsp;&nbsp;
                        <span>Bill No: {{patientPrescription.Code}}</span>
                    </span>
                </h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Charge</td>
                            <td>Quantity</td>
                            <td>Total Charge</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in patientPrescriptionMedicalServices">
                            <td>{{p.Name}}</td>
                            <td>{{p.Charge}} Tk</td>
                            <td>{{p.Quantity}}</td>
                            <td>{{p.TotalCharge}} Tk</td>
                        </tr>

                        <tr>
                            <td colspan="3">Discount ({{patientPrescription.DiscountPercent}} %)</td>
                            <td>-{{patientPrescription.DiscountAmount}} Tk</td>
                        </tr>
                        <tr>
                            <td colspan="3">Fixed Amount</td>
                            <td>-{{patientPrescription.FixedDiscount}} Tk</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" ng-click="addMoreService()">Add More Service</button>

                <br />
                <br />
                <h4>Payment History:</h4>
                <table class="table table-striped  table-responsive table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Paid for Service Taken</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in payments" id="printable">
                            <td>{{p.Created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            <td>{{p.Amount}}</td>
                            <td>{{p.Comment}}</td>
                            <td class="text-center">
                                <a class="glyphicon glyphicon-print" style="cursor: pointer;" ng-click="open('lg', p)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>Total Charge: </th>
                            <th>{{patientPrescription.TotalCharge}} Tk</th>
                        </tr>
                        <tr>
                            <th>Discount</th>
                            <th>{{patientPrescription.TotalDiscountAmount}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Payable: </th>
                            <th class="text-info">{{patientPrescription.TotalPayable}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Paid: </th>
                            <th>{{patientPrescription.TotalPaid}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Due: </th>
                            <th class="text-danger">{{patientPrescription.TotalDue}} Tk</th>
                        </tr>
                    </tbody>
                </table>

            </div>


            <div class="panel-body" ng-if="pageName == 'medical'">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in infos track by $index">
                                        <td><input type="checkbox" ng-model="infos[$index].IsChecked" /></td>
                                        <td>{{p.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <button type="button" class="btn btn-success" ng-click="savePatientMedicalInfo()">Save</button>
                    </div>

                    <div class="col-sm-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Patient Clinical Conditions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in patientMedicalConditions">
                                        <td>{{p}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body" ng-if="pageName == 'payment'">
                <div class="row">

                    <form class="form-horizontal" ng-submit="savePayment()">

                        <div class="col-sm-3">
                            <div class="input-group">
                                <label class="input-group-addon">Date: </label>
                                <input type="datetime" class="form-control" ng-model="payment.Created" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            
                            <div class="input-group">
                                <label class="input-group-addon">Amount: </label>
                                <input type="number" class="form-control" ng-model="payment.Amount" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-4">                            
                            <div class="input-group">
                                <label class="input-group-addon">Paid for Service Taken: </label>
                                <textarea rows="1" class="form-control" ng-model="payment.Comment" required="required"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" ng-show="!isUpdateMode">Add</button>
                            <button type="button" class="btn btn-danger" ng-click="Update()" ng-show="isUpdateMode">Update</button>
                        </div>
                    </form>


                </div>

                <h4>Payment History:</h4>
                <table class="table table-striped  table-responsive table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Paid for Service Taken</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in payments">
                            <td>{{p.Created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            <td>{{p.Amount}}</td>
                            <td>{{p.Comment}}</td>
                            <td class="text-center">
                                <a class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="deletePayment(p.Id)"></a>
                                &nbsp;
                                <a class="glyphicon glyphicon-print" style="cursor: pointer;" ng-click="open('lg', p)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>Total Charge: </th>
                            <th>{{patientPrescription.TotalCharge}} Tk</th>
                        </tr>
                        <tr>
                            <th>Discount</th>
                            <th>{{patientPrescription.TotalDiscountAmount}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Payable: </th>
                            <th class="text-info">{{patientPrescription.TotalPayable}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Paid: </th>
                            <th>{{patientPrescription.TotalPaid}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Due: </th>
                            <th class="text-danger">{{patientPrescription.TotalDue}} Tk</th>
                        </tr>
                    </tbody>
                </table>


                <br />
                <button class="btn btn-success" ng-click="newBill()">New Bill</button>
                <button class="btn btn-danger" ng-click="forceNewBill()">Force New Bill</button>


            </div>



            <div class="panel-body" ng-if="pageName == 'history'">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Patient</th>
                                        <th>Bill No</th>
                                        <th>Created</th>
                                        <th>Total Charge</th>
                                        <th>Discount %</th>
                                        <th>Fixed Discount</th>
                                        <th>Total Discount</th>
                                        <th>Total Paid</th>
                                        <th>Total Due</th>
                                        <th>Status</th>
                                        <th>Services</th>
                                        <th>Payments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in patientHistories">                                       
                                        <td>{{p.PatientName}}</td>
                                        <td>{{p.BillNo}}</td>
                                        <td>{{p.Created}}</td>
                                        <th>{{p.TotalCharge}}</th>
                                        <td>{{p.DiscountPercent}}% ({{p.DiscountAmount}})</td>
                                        <td>{{p.FixedDiscount}}</td>
                                        <th>{{p.TotalDiscountAmount}}</th>
                                        <th>{{p.TotalPaid}}</th>
                                        <th>{{p.TotalDue}}</th>
                                        <td>{{p.StatusName}}</td>
                                        <td>
                                            <div style="width: 100%" ng-repeat="s in p.PatientMedicalServices">
                                                <div style="width: 100%">{{s.MedicalServiceName}} ({{s.Quantity}})</div>
                                            </div>                                            
                                        </td>
                                        <td>
                                            <div style="width: 100%" ng-repeat="s in p.Payments">
                                                <div style="width: 100%">{{s.Created}} ({{s.Amount}})</div>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-body" ng-if="pageName == 'patient'">
                <div class="row">

                    <form class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Patient Id: </label>
                                <input type="text" class="form-control" disabled="disabled" ng-model="patientInfo.Code" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Patient Name: </label>
                                <input type="text" class="form-control" ng-model="patientInfo.Name" />
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px"></div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Age: </label>
                                <input type="text" class="form-control" ng-model="patientInfo.Age" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Gender :</label>
                                <select class="form-control" ng-model="patientInfo.Gender" ng-options="o for o in gender">
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px"></div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Phone: </label>
                                <input type="text" class="form-control" ng-model="patientInfo.Phone" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Email: </label>
                                <input type="text" class="form-control" ng-model="patientInfo.Email" />
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px"></div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Address :</label>
                                <textarea class="form-control" ng-model="patientInfo.Address"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <label class="input-group-addon">Note :</label>
                                <textarea class="form-control" ng-model="patientInfo.Note"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px"></div>

                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" ng-click="update(patientInfo)">Update</button>
                        </div>
                    </form>

                </div>
            </div>


            <div class="panel-footer"></div>

        </div>

    </div>

   


</div>

<!-- Print Model -->
<script type="text/ng-template" id="patientPaymentModal.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="modal-title">Payment Receipt</h3>
            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>
    <div class="modal-body" id="print-content">

        <div class="row text-center">
            <img src="./app/images/logo/logo-default.png" width="50" />
        </div>
        <br />
        <div class="row">
            <div class="col col-sm-12 text-center"><strong>Dental Clinic</strong></div>
            <div class="col col-sm-12 text-center">
                <i>
                    <small>Chamber Address</small>
                </i>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Bill Created</td>
                            <th>{{patientBill.Created | date:"MM/dd/yyyy 'at' h:mma"}}</th>

                            <td>Bill No.</td>
                            <th>{{patientBill.Code}}</th>
                        </tr>
                        <tr>
                            <td>Visiting Date</td>
                            <th>{{today | date: 'dd-MM-yyyy'}}</th>

                            <td>ID</td>
                            <th>{{patient.Code}}</th>
                        </tr>

                        <tr>
                            <td>Name</td>
                            <td colspan="3">{{patient.Name}}</td>
                        </tr>

                        <tr>
                            <td>Age</td>
                            <td>{{patient.Age}}</td>

                            <td>Gender</td>
                            <td>{{patient.Gender}}</td>
                        </tr>



                        <tr>
                            <td colspan="2">Total Charge</td>
                            <td colspan="2">{{patientBill.TotalCharge}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Discount</td>
                            <td colspan="2">{{patientBill.TotalDiscountAmount}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Payable</td>
                            <td colspan="2">{{patientBill.TotalPayable}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Total Paid</td>
                            <td colspan="2">{{patientBill.TotalPaid}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Due</td>
                            <td colspan="2">{{patientBill.TotalDue}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{payment.Created | date : 'dd-MM-yyyy'}}</td>
                    <td>{{payment.Amount}}</td>
                    <td>{{payment.Comment}}</td>
                </tr>
            </tbody>
        </table>

    </div>
   
    <div class="modal-footer">
        <div class="col col-md-12">
            <button class="btn btn-info pull-left" type="button" ng-click="print()">Print</button>
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<!-- end -->



<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>