<div class="row">

    <div >
        <button ui-sref="root.patient" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add Service</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="save()">

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-3 col-lg-3">Name :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <input type="text" class="form-control" name="Name" ng-model="service.Name" autocomplete="off" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-3 col-lg-3">Charge :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <input type="number" class="form-control text-capitalize" name="Charge" ng-model="service.Charge" autocomplete="off" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-3 col-lg-3">&nbsp;</label>
                        <div class="col col-xs-12 col-sm-8 col-md-9 col-lg-9">
                            <button type="submit" ng-show="!isUpdateMode" class="btn btn-floating btn-info">Save</button>
                            <button type="button" ng-show="isUpdateMode" class="btn btn-floating btn-success" ng-click="update()">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-7 col-lg-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Services</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <table class="table table-striped table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Charge</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in services">
                            <td>{{s.Name}}</td>
                            <td>{{s.Charge}}</td>
                            <td>
                                <a class="glyphicon glyphicon-edit text-info" style="cursor: pointer;" ng-click="edit(s.Id)"></a>
                                &nbsp;&nbsp;
                                <a class="glyphicon glyphicon-remove text-info" style="cursor: pointer;" ng-click="delete(s.Id)"></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>                    
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>