<div class="row">
    
    <div>
        <a ng-href="#/patient" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Back"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Add Patient</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="addPatient()">

                    <!--<div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Patient Identity :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" ng-model="patient.Code"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Name :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control text-capitalize" ng-model="patient.Name" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Age :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" ng-model="patient.Age" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Phone :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" ng-model="patient.Phone" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Email :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" ng-model="patient.Email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Address :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" ng-model="patient.Address"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">&nbsp;</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button ng-show="!isUpdateMode" type="submit" class="btn btn-floating btn-danger" >Save</button>
                            <button ng-show="isUpdateMode" type="button" class="btn btn-floating btn-success" ng-click="addPatient()">Update</button>
                            {{prescriptionId}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-6 col-md-7 col-lg-7">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Add Services</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <!--<div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Patient : </label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text" disabled="disabled" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Prescription Identity : </label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input class="form-control" type="text">
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <span class=""><strong>Bill No: </strong> {{patientPrescription.Code}}</span>
                        </div>
                        <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <span class=""><strong>Date: </strong> {{patientPrescription.Created | date : 'dd-MM-yyyy'}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4"><strong>Patient ID: </strong> {{patientSuccess.Code}}
                        </div>
                        <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4"><strong>Name: </strong> {{patientSuccess.Name}}
                        </div>
                        <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4"><strong>Age: </strong> {{patientSuccess.Age}}
                        </div>
                    </div>


                    <table class="table table-striped table-responsive table-hover table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Charge</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in medicalServices">
                            <td><input type="checkbox" class="checkbox" ng-click="toggleSelection(s)" ng-checked="selection.indexOf(s) > -1"/></td>
                            <td>{{s.Name}}</td>
                            <td>{{s.Charge}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Discount (%)</td>
                            <td class="col col col-lg-4"><input type="text" class="form-control" placeholder="%" ng-model="service.DiscountPercent" ng-change="calculateDiscount()" maxlength="3"/></td>
                        </tr>

                        </tbody>
                    </table>
                    <br/>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th>Service Change :</th>
                            <th>{{service.Charge}} Tk</th>
                        </tr>
                        <tr>
                            <th>Discount ({{service.DiscountPercent}} %) :</th>
                            <th>{{service.DiscountAmount}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Payable :</th>
                            <th class="text-info">{{service.TotalPayable}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Paid :</th>
                            <th>{{service.TotalPaid}} Tk</th>
                        </tr>
                        <tr>
                            <th>Total Due :</th>
                            <th class="text-danger">{{service.TotalDue}} Tk</th>
                        </tr>
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-danger" ng-click="savePatientMedicalService()">Save</button>
                            <button class="btn btn-success" ng-click="addPayment()">Add Payment</button>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="col col-xs-6 col-sm-5 col-md-5 col-lg-5">Service Change :</label>
                        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><strong>{{service.Charge}} Tk</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col col-xs-6 col-sm-5 col-md-5 col-lg-5">Discount ({{service.DiscountPercent}} %) :</label>
                        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><strong>{{service.DiscountAmount}} Tk</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col col-xs-6 col-sm-5 col-md-5 col-lg-5">Total Payable :</label>
                        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><strong>{{service.TotalPayable}} Tk</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col col-xs-6 col-sm-5 col-md-5 col-lg-5">Total Paid :</label>
                        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><strong>{{service.TotalPaid}} Tk</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col col-xs-6 col-sm-5 col-md-5 col-lg-5">Total Due :</label>
                        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6"><strong>{{service.TotalDue}} Tk</strong></div>
                    </div>-->
                    
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>