<div class="row" cg-busy="promise">

    
    <div class="col-sm-12">
        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6"><h3 class="panel-title">Users</h3></div>
                    <div class="col-sm-6 text-right">
                        <button ui-sref="root.patient" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Back"><span class="glyphicon glyphicon-repeat"></span></button>
                    </div>
                </div>
            </div>

            <div class="panel-body">

                <div class="row">
                    <form class="form-horizontal" ng-submit="save()">

                        <div class="col-sm-12 text-center">
                            <span class="text-warning" ng-show="isUpdateMode && isDemoUser">Demo user are unauthorize to change password</span>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">First Name</span>
                                <input type="text" class="form-control" ng-model="model.FirstName" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Last Name</span>
                                <input type="text" class="form-control" ng-model="model.LastName" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                <input type="text" class="form-control" ng-model="model.Email" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Phone</span>
                                <input type="text" class="form-control" ng-model="model.PhoneNumber" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Username</span>
                                <input type="text" class="form-control" ng-model="model.UserName" required="required" />
                            </div>
                        </div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Role</span>
                                <select class="form-control" ng-model="model.RoleId" required="required" ng-options="i.Id as i.Name for i in roles"></select>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 15px"></div>

                        <div class="col-sm-2">

                            <div class="input-group">
                                <span class="input-group-addon">Change Password</span>
                                <input ng-disabled="isUpdateMode && isDemoUser" type="checkbox" class="checkbox" ng-model="isChangedPassword" />
                            </div>
                        </div>

                        <div class="col-sm-2" ng-show="isChangedPassword">

                            <div class="input-group">
                                <span class="input-group-addon">New Password</span>
                                <input type="password" class="form-control" ng-model="model.PasswordHash" ng-required="isChangedPassword" />
                            </div>
                        </div>
                        <div class="col-sm-2" ng-show="isChangedPassword">

                            <div class="input-group">
                                <span class="input-group-addon">Retype Password</span>
                                <input type="password" class="form-control" ng-model="model.RetypePassword" ng-required="isChangedPassword" />
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="submit" ng-show="!isUpdateMode" class="btn btn-floating btn-info">Save</button>
                            <button type="submit" ng-show="isUpdateMode" class="btn btn-floating btn-info">Update</button>
                            <button type="button" ng-show="isUpdateMode" class="btn btn-floating btn-warning" ng-click="cancel()">Cancel</button>
                        </div>

                    </form>
                </div>
                <br/>

                <div class="row">

                    <div class="col-sm-12">
                        <form ng-submit="search()">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search by Role Name" ng-model="search.key" required="required">
                                <span type="submit" class="input-group-addon"><a style="cursor: pointer; text-decoration: none" class="glyphicon glyphicon-search btn-floating" ng-click="search()"></a></span>
                            </div>
                        </form>
                    </div>
                    <br/>

                    <div class="col-sm-12">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Role</th>
                                        <th class="text-center"><span class="glyphicon glyphicon-asterisk"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="l in list track by $index">
                                        <td ng-show="false">{{l.Id}}</td>
                                        <td data-title="SL: ">{{$index + 1}}</td>
                                        <td data-title="Username: ">{{l.UserName}}</td>
                                        <td data-title="Name: ">{{l.FirstName}} {{l.LastName}}</td>
                                        <td data-title="Email:">{{l.Email}}</td>
                                        <td data-title="Phone: ">{{l.PhoneNumber}}</td>
                                        <td data-title="Role: ">{{getRole(l.Roles[0].RoleId).Name}}</td>
                                        <td data-title="Option: ">
                                            <a class="glyphicon glyphicon-edit" style="cursor: pointer;" ng-click="edit(l.Id)"></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a ng-hide="isDemoUser" class="glyphicon glyphicon-trash" style="cursor: pointer;" ng-click="remove('',l, 'delete')"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                
            </div>

           

            <div class="panel-footer">

            </div>
        </div>
    </div>

        
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>